CLOUDINARY_NAME_PROCURE=
CLOUDINARY_API_KEY_PROCURE=
CLOUDINARY_API_SECRET_PROCURE=

PORT_SUPPLIER=
NODE_ENV=
DB_PASSWORD=
DB_NAME_SUPPLIER=
DB_USERNAME=
DB_HOST=
DB_PORT=
SECRET_JWD_SEED=
PORT_COMPANY=
DB_NAME_COMPANY=
PORT_USER=
DB_NAME_USER=
JWT_EXPIRE_IN=
HOST_MAIL_PROCURE=
USERMAIL_PROCURE=
PASS_APP=